doctype html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Approve Offer
    meta(content='no-cache', http-equiv='cache-control')
    meta(content='IPL Contest, IPL, Cricket, match', name='keywords')
    meta(content='IPL Contest, IPL, Cricket, match', name='description')
    meta(name='msvalidate.01', content='to be filled in')
    meta(name='verify-v1', content='to be filled in')
    link(href='Page URL - TBD by backend', rel='canonical')
    link(href='/stylesheets/global.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/home.js')
  body
    #content_container_main
      #header
        .primaryMenu1
        #logo TARGET PREMIER LEAGUE
        .text
          label Powered by
          img(src='images/cartwheel-logo.png', width='175px')
        .primaryMenu
          ul
            if record != null
              li
                a(href='home') Home
            li
              a(href='userstats') Participants Statistics
            li
              a(href='matchstats') Match Statistics
          .userInfo
            if record != null
              label #{record.firstName} &nbsp;
              | |
              a.signout(href='javscript:void(0)') &nbsp;Sign Out
      br
      br
      img(class='errorpage',src='images/500.jpg')