extends layout

block content
	h1	Select a Match from the below list
		form(action='adminData', method='POST')
			select(name="match_id")
				each matchinfo, i in match
					option(value='#{matchinfo._id}') Match_Id : #{matchinfo._id} held on date : #{matchinfo.date}
			input(type="submit", value="Submit")