doctype html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title IPL Contest
    meta(content='no-cache', http-equiv='cache-control')
    meta(content='IPL Contest, IPL, Cricket, match', name='keywords')
    meta(content='IPL Contest, IPL, Cricket, match', name='description')
    meta(name='msvalidate.01', content='to be filled in')
    meta(name='verify-v1', content='to be filled in')
    link(href='Page URL - TBD by backend', rel='canonical')
    link(href='/stylesheets/global.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
  body
    #content_container_main
      #header
        .primaryMenu1
        #logo
          img(src="images/cartwheellogoSmall_white.png" class="cartwheellogo")
          img(src="images/header2.png")
        .text
          label Powered by
          img(src='images/cartwheel-logo.png', width='175px')
        .primaryMenu
          ul
            li
              a(href='home') Home
            li
              a(href='userpoints') Participants Statistics
            li
              a(href='rules') Rules
          .userInfo
            if record != null
              label #{record.first_name} &nbsp;
              | |
              a.signout(href='signout') &nbsp;Sign Out
      #matchData
      br
      br   
      .feedback         
          form(name="input", action="feedbacksubmit", method="post")
            | Comments:
            textarea(name='comments', rows=20, cols=60) Enter your comments here
            br
            input(type="submit", value="Submit")