doctype html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Everest Premier League - Login or Signup
    meta(content='no-cache', http-equiv='cache-control')
    meta(content='IPL Contest, IPL, Cricket, match', name='keywords')
    meta(content='IPL Contest, IPL, Cricket, match', name='description')
    meta(name='msvalidate.01', content='to be filled in')
    meta(name='verify-v1', content='to be filled in')
    link(href='Page URL - TBD by backend', rel='canonical')
    link(href='/stylesheets/global.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/validationEngine.jquery.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/home.js')
    script(type='text/javascript', src='/javascripts/jquery.validationEngine.js')
    script(type='text/javascript', src='/javascripts/jquery.validationEngine-en.js')
    script(type='text/javascript', src='/javascripts/index.js')
  body
    #content_container_main.indexdiv
      #header
        .primaryMenu1
        #logo
          img(src="images/EPL_logo.jpg" class="cartwheellogo")
          #logoText Everest Premier League
        .primaryMenu
          ul
            li
              a(href='home') Home
            li
              a(href='userpoints') Participants Statistics
            li
              a(href='rules') Rules 
      #wrapper
       form.login-form(name='login-form', action='login', method='post')
        .header
          h1 Login Form
          span Login  Predict  Win !!
        .content
          input.input.email(name='email',data-validation-engine='validate[required,custom[email]]' ,type='text', placeholder='name@example.com')
          .user-icon
          input.input.password(name='pass',data-validation-engine='validate[required]', type='password', placeholder='Password')
          .pass-icon
        .err_msg
          p #{err}
        .footer
          input.button(type='submit', name='submit', value='Login')
          input.register( type='submit', name='submit', value='Register')
          br
          br
          .forgotpassword
           a(href='forgotpassword') Forgot Password?
