extends layout

block content
	h1.
		One Time Contest1
	ul
		script(type='text/javascript')
		var iQuestions = JSON.parse('!{questions}');
		var iPlayer = JSON.parse('!{players}');
		var iTeams = JSON.parse('!{teams}');
				
					