html
  head    
  body
    table(style='width: 900px;')
      thead
        tr
          th Question
          th Players
      tbody
      each question, i in questions
        tr
          td #{question.question}
          td
            select
              option Select a player
              each player, i in players              
                option(value="#{player.player_id}") #{player.name}            
              
