extends layout

block content
  h1= title
  p Welcome to the score board
  
  // Wrapper
  #wrapper

    // USER LIST
    h2 User Points
    #userList
      table
        thead
          th User Name
          th Total points          
        tbody
    // /USER LIST

  // /WRAPPER