doctype html(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title IPL Contest
    meta(content='no-cache', http-equiv='cache-control')
    meta(content='IPL Contest, IPL, Cricket, match', name='keywords')
    meta(content='IPL Contest, IPL, Cricket, match', name='description')
    meta(name='msvalidate.01', content='to be filled in')
    meta(name='verify-v1', content='to be filled in')
    link(href='Page URL - TBD by backend', rel='canonical')
    link(href='/stylesheets/global.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/validationEngine.jquery.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/home.js')
    script(type='text/javascript', src='/javascripts/jquery.validationEngine.js')
    script(type='text/javascript', src='/javascripts/jquery.validationEngine-en.js')
  body
    #content_container_main
      #header
        .primaryMenu1
        #logo
          img(src="images/cartwheellogoSmall_white.png" class="cartwheellogo")
          img(src="images/header2.png")
        .text
          label Powered by
          img(src='images/cartwheel-logo.png', width='175px')
        .primaryMenu
          ul
            li
              a(href='home') Home
            li
              a(href='userpoints') Participants Statistics
            li
              a(href='rules') Rules
      #signIn.signInBox
        .fadeInBox
          .signBoxHeadWrapper
            span
              a#signUp.ml10.c666.txt-deco-under(href='/') Log In
            h2#loginHeader Sign Up
          form#signin_form(method='post', action='register')
            .inputArea
              label(for='name') Lan ID
              input#name.textbox(type='text',data-validation-engine='validate[required]', placeholder='Z000000', name='name')
            .inputArea
              label(for='pass') Password
              input#password.textbox(type='password',data-validation-engine='validate[required]', placeholder='Enter Password', name='pass')
            div.err_msg
              p #{err}
            div
              button#signin-btn.sign-btn(type='submit') Sign Up
        .clear