doctype html(xmlns='http://www.w3.org/1999/xhtml')(xmlns='http://www.w3.org/1999/xhtml')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Approve Offer
    meta(content='no-cache', http-equiv='cache-control')
    meta(content='IPL Contest, IPL, Cricket, match', name='keywords')
    meta(content='IPL Contest, IPL, Cricket, match', name='description')
    meta(name='msvalidate.01', content='to be filled in')
    meta(name='verify-v1', content='to be filled in')
    link(href='Page URL - TBD by backend', rel='canonical')
    link(href='/stylesheets/global.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/main.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.min.js')
    script(type='text/javascript', src='/javascripts/home.js')
  body
    #content_container_main
      #header
        .primaryMenu1
        #logo
          img(src="images/EPL_logo.jpg" class="cartwheellogo")
          #logoText Everest Premeier League
        .primaryMenu
          ul
            li
              a(href='home') Home
            li
              a(href='userpoints') Participants Statistics
            li
              a(href='rules') Rules
            li
              a(href='myDashboard') My Dashboard
            li
              a(href='feedback') Feedback
          .userInfo
            if record != null
              label #{record.first_name} &nbsp;
              | |
              a.signout(href='signout') &nbsp;Sign Out
      .rulestatsSection
        img(src='images/rules.jpg')
        .section1
          .sectionheader
            | Rules
          .sectionbody
            table
              tbody
                tr
                  td 1. Every match winner prediction will fetch you 5 points
                tr
                  td 2. Every Man Of The Match prediction will fetch you 10 points
                tr
                  td
                    | 3. If both the predictions are correct you will get an additional 5 bonus points(5+10+5(bonus)= 20 points)
                tr
                  td 4. You cannot submit an entry after the match is started 
                tr
                  td 5. You can submit any number of times but previous entry will be overridden
                tr
                  td 6. Points would be accumulated and winner will be announced at the end of IPL
                tr
                  td 7. In case of a Tie both predictions will fetch 10 points  
                tr
                  td 8. On days with Multiple games getting Winning team + MOM correct for both the matches will get you additional 10 bonus points (20+20+10(bonus)= 50 points)
 