#header{
    background-image: url("../images/masthead.jpg");
    height: 120px;
}
#footer{
    background-image: url("../images/footer-bg-texture.jpg");
    height: 387px;
}

#content_container_main{
    width : 100%;
}
.matchtime {
    float: left;
    margin-left: 190px;
}
.matchSection .top{
	background-color: #333333;
    border-bottom: 1px solid #333333;
    color: #FFFFFF;
    float: left;
    font-size: 13px;
    height: 102px;
    left: -3px;
    line-height: 160px;
    margin-right: 15px;
    position: relative;
    text-align: center;
    top: -8px;
    width: 105px;
}

.matchSection{
	 background-color: #FFFFFF;
    border: 1px solid;
    box-shadow: 4px 5px 1px #000000;
    margin-bottom: 31px;
    margin-left: 6%;
    margin-top: 23px;
    width: 63%;
}

.tLogo50x {
	display: inline-block;
	margin: 0;
	width: 50px;
	height: 50px;
	background-image: url(../images/team-logos-50x.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 100%;
}

.tLogo100x{
	display: inline-block;
	margin: 0;
	width: 100px;
	height: 100px;
	background-image: url(../images/team-logos-100x.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	background-size: 100%;
	float : left;
}

.teamlogo1{
	float: left;
    margin-left: 25px;
    margin-top: 9px;
}
.teamlogo2{
	float: right;
    margin-right: 15px;
    margin-top: 9px;
}
.tLogo100x.MI{
	background-position: 0 -525px;
}
.tLogo100x.KKR{
	background-position: 0 -315px;
}
.tLogo50x.MI{
	background-position: 0 -275px;
}

.tLogo50x.KKR{
	background-position: 0 -165px;
}
.eventCompetitors .tLogo50x{
	margin-left: 10px;
}
.tLogo50x.KXIP {
    background-position: 0 -220px;
}


.tLogo50x.DDL {
    background-position: 0 -110px;
}


.tLogo50x.CSK {
    background-position: 0 -55px;
}
.tLogo50x.RCB {
    background-position: 0 -330px;
}


.tLogo50x.RR {
    background-position: 0 -385px;
}


.tLogo50x.SRH {
    background-position: 0 -439px;
}

.tLogo100x.RCB {
    background-position: 0 -630px;
}

.tLogo100x.RR {
    background-position: 0 -735px;
}

.tLogo100x.SRH {
    background-position: 0 -840px;
}

.tLogo100x.KXIP {
    background-position: 0 -420px;
}

.tLogo100x.DDL {
    background-position: 0 -210px;
}

.tLogo100x.CSK {
    background-position: 0 -105px;
}

.teamlogo{
	float : left;
	padding: 6px;
}
.matchHeader{
	border-bottom: 1px dotted #909090;
   height: 81px;
}
.eventCompetitors h5{
	color: #909090;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 5px;
    padding: 0 10px;
    text-transform: uppercase;
}

.eventDetails h5{
    font-size: 17px;
    font-weight: normal;
    line-height: 27px;
}

.eventDetails {
    padding: 5px;
}

.eventDetails p{
	color: #676767;
	font-size: 12px;
	line-height: 15px;
	margin-bottom: 3px;
}

.matchSectionMain{
	background-image: url("../images/abu-dhabi.jpg");
    background-position: 0 0;
    height: 320px;
    width: 100%;
}

.playerListDropDown a.selection{
	background-color: #262626;
    background-image: none;
    border: 1px solid #262626;
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    text-shadow: 0 0 0;
	display: block;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    padding: 0;
    text-align: center;
}

.playerListDropDown a.selection span{
	background-image: url("../images/IPL-global-sprite.png");
    background-position: -82px -80px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 4px;
    width: 7px;
	float :right;
	margin-top : 10px;
	margin-right : 4px;
}
.playerListDropDown a.selection:hover{
	background-color:#333333;
}
.playerListDropDown ul{
	background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: #262626;
    border-radius: 0 0 6px 6px;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    display: none;
    max-height: 210px;
    overflow-y: auto;
    width: 202px;
}

.playerListDropDown ul li:hover{
	background-color : #EAEAEA;
}

.playerListDropDown{
    text-align: center;
	position: relative;
}


.matchFooter {
    height: 56px;
    width: 100%;
	border-bottom: 1px dotted;
}

.playerListDropDown a{
	color : black;
}
.bottom {
    background: none repeat scroll 0 0 #333333;
    height: 57px;
    left: -3px;
    position: relative;
    width: 105px;
}

.momsection {
	 background-color: #FFFFFF;
    border: medium none;
    border-radius: 0 0 6px 6px;
    color: #000000;
    float: right;
    height: 0;
    margin-right: 12px;
    margin-top: -44px;
    width: 24%;
}


.mombutton {
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}
.teamSelectionlabel{
	 color: #909090;
    float: left;
    margin-top: 20px;
    text-transform: uppercase;
}
.momlabel {
    color: #909090;
    float: left;
    margin-left: 117px;
    margin-top: -40px;
    text-transform: uppercase;
}

.mombutton button{
	background-color: #262626;
    border: 1px solid;
    color: #FFFFFF;
    font-weight: bold;
    height: 28px;
    text-transform: uppercase;
    width: 206px;
}

.matchFooterPredict {
    background-color: #FFFFFF;
    height: 38px;
}
.sideSection {
    left: 76%;
    position: absolute;
    top: 145px;
    width: 20%;
}
.sideSection .sectionheader {
    background-color: #262626;
    border-bottom: 1px solid;
    color: #FFFFFF;
    font-weight: bold;
    height: 35px;
    line-height: 26px;
    text-align: center;
}

.sideSection .sectionbody {
    line-height: 29px;
    text-align: left;
}
.sideSection .section1{
	margin-bottom : 20px;
}
.sideSection .sectionbody li {
    background-color: #FFFFFF;
    color: #909090;
}

.sideSection .sectionbody li  label.name {
     float: left;
    margin-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 165px;
}

.rulestatsSection table td{
	text-align :left;
	padding: 3px 0 3px 26px;
}
.userstatsSection ,.rulestatsSection{
     background-color: #FFFFFF;
    box-shadow: 3px 3px 1px #000000;
    line-height: 29px;
    margin-bottom: 20px;
    margin-left: 13%;
    margin-top: 20px;
    max-height: 600px;
    overflow-y: auto;
    text-align: center;
    width: 71%;
}

.userstatsSection  .sectionheader,.rulestatsSection  .sectionheader {
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px;
}

.sectionheader .tLogo50x{
	margin-left: 10px;
    margin-right: 15px;
}
.userstatsSection  .hidden{
    display : none;
}


.userstatsSection table {
   line-height: 27px;
    text-align: center;
    width: 100%;
}

.userstatsSection .sectionheader span{
	background-image: url("../images/IPL-global-sprite.png");
    background-position: -82px -80px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 4px;
    width: 7px;
	float :right;
	margin-top : 20px;
	margin-right : 10px;
}

.userInfo {
    color: #FFFFFF;
    float: right;
    margin-right: 51px;
}

.footersection {
    color: #FFFFFF;
    float: left;
    height: 66%;
    line-height: 24px;
    margin-left: 65px;
    margin-top: 27px;
    padding: 18px;
    text-align: center;
    width: 14%;
}

.Bold {
    font-weight: bold;
}

.footersection > img {
    width: 188px;
}

.footerbottom {
	border-top: 1px solid #565656;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 24px;
	margin-left: 13%;
	margin-top: 1%;
	text-align: center;
	width: 77%;
}

.clearline {
    clear: both;
}

table { 
color: #333;
font-family: Times New Roman;
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}

td, th { 
border: 1px solid transparent; /* No more visible border */
height: 30px; 
transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
background: #DFDFDF;  /* Darken header a bit */
font-weight: bold;
}

td {
background: #FAFAFA;
text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  

tr td:hover { background: #666; color: #FFF; } /* Hover cell effect! */

.bodyText {
     font-family:georgia, serif;
     color:#3B200F;
     font-size:20px;
     font-weight:bold;
     line-height:125%;
     margin-left : 40px;
     text-align:left;
}

.bodyTextBig {
     font-family:georgia, serif;
     color:#FFFFFF;
     font-size:70px;
     font-weight:bold;
     line-height:125%;
     margin-left : 40px;
     text-align:center;
}


.error_msg > label#err_msg_label{
    color: #FF0000;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 8px;
}

.error_msg > label#succ_msg_label{
    color: green;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 8px;
}

.bodyText p.statusmessage{
    color: #FFFFFF;
    text-align: center;
}

.comingsoon{
	border: 1px solid #FFFFFF;
    border-radius: 10px;
    margin-left: 32%;
    opacity: 0.75;
	 margin-top: 4%;
}